.popup__inform {
    padding: 71px 0px 0px 22px;
    margin: 0px;
    border: none;
}

@media screen and (min-width: 768px) {
    .popup__inform {
        padding: 54px 36px 48px 36px;
    }
}

@media screen and (min-width: 1280px) {
    .popup__inform {
        padding-top: 42px;
        padding-bottom: 51px;
    }
}