.popup__container {
    width: 100%;
    max-width: 282px;
    min-height: 322px;
    background: #fff;
    box-shadow: 0 4px rgb(0 0 0 / 25%);
    border-radius: 15px;
    margin: 123px auto;
    padding: 0px;
    position: relative;
    align-self: center;
    z-index: 3;
}

@media screen and (min-width: 768px) {
    .popup__container {
        max-width: 430px;
        min-height: 330px;
        margin: 195px auto;
    }
    }

@media screen and (min-width: 1280px) {
    .popup__container {
        margin: 195px 425px;
    }
    }