.popup__content {
    display: flex;
    flex-direction: column;
    max-width: 282px;
    max-height: 86px;
    gap: 30px;
    margin: 0px;
    padding: 0px;
    border: none;
}

@media screen and (min-width: 768px) {
    .popup__content {
        padding: 0px;
        margin: 0px;
    }
    }


@media screen and (min-width: 1280px) {
    .popup__content {
        max-width: 400px;
        padding: 0px;
        gap: 27px;
    }
    }