.popup__line {
    position: absolute;
    max-width: 238px;
    min-height: 1px;
    z-index: 4;
    padding: 0px;
    margin: 206px 22px 116px 22px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.popup__line:first-of-type {
    margin: 149px 22px 179px 22px;
}

@media screen and (min-width: 768px) {
    .popup__line {
        min-width: 358px;
        margin: 195px auto 135px;
    }

    .popup__line:first-of-type {
        margin: 138px auto 192px;
    }
    }

@media screen and (min-width: 1280px) {
    .popup__line {
        margin: 195px 36px 135px 36px;
    }

    .popup__line:first-of-type {
        margin: 138px 36px 192px 36px;
    }
    }