.header__line {
    max-width: 100%;
    opacity: 0.7;
    border: 1px solid #545454;
    padding: 0px;
    margin: 0px;
}

@media screen and (min-width: 888px) {
    .header__line {
      max-width: 880px;
    }
    }