.profile__avatar-image {
    width: 100%;
    max-width: 120px;
    margin: 0px 80px 26px 82px;
    padding: 0px;
    border-radius: 60px;
    object-fit: cover;
}

@media screen and (min-width: 321px) {
    .profile__avatar-image {
        margin: 0px auto 32px;
    }
    }

@media screen and (min-width: 768px) {
    .profile__avatar-image {
        max-width: 160px;
        border-radius: 80px;
        margin: 0px 0px 39px 0px;
    }
    }
    
@media screen and (min-width: 1280px) {
    .profile__avatar-image {
        margin: 0px 30px 51px 0px;
        width: 100%;
        max-width: 120px;
        border-radius: 60px;
        object-fit: cover;
    }
    }