.edit__button-rectangle {
    min-width: 18px;
    background-color: inherit;
    border: 1px solid #fff;
    padding: 0px;
    margin: 8px 0px 0px 0px;
    cursor: pointer;
}

@media screen and (min-width: 540px) {
    .edit__button-rectangle {
        min-width: 19px;
        margin: 11px 0px 0px 0px;
    }
    }

@media screen and (min-width: 768px) {
    .edit__button-rectangle {
        min-width: 21px;
        margin: 13px 0px 0px 0px;
    }
    }

@media screen and (min-width: 1024px) {
    .edit__button-rectangle {
        min-width: 23px;
        margin: 15px 0px 0px 0px;
    }
    }

@media screen and (min-width: 1280px) {
    .edit__button-rectangle {
        min-width: 24px;
        margin: 15px 0px 0px 0px;
    }
    }