.add__button-vector {
    min-width: 16px;
    min-height: 16px;
    margin: 17px 132px 17px 134px;
    padding: 0px;
}

@media screen and (min-width: 540px) {
    .add__button-vector {
        min-width: 17px;
        min-height: 17px;
        margin: 16.5px 139.5px;
    }
    }

@media screen and (min-width: 768px) {
    .add__button-vector {
        min-width: 18px;
        min-height: 18px;
        margin: 16px 41px;
    }
    }

@media screen and (min-width: 1024px) {
    .add__button-vector {
        min-width: 20px;
        min-height: 20px;
        margin: 14px 64px;
    }
    }

@media screen and (min-width: 1280px) {
    .add__button-vector {
        min-width: 22px;
        min-height: 22px;
        margin: 14px 64px;
    }
    }